.about-us-container {
  width: 100%;
}

.about-us-container h1 {
  padding: 60px 0;
  color: rgba(4, 129, 179, 0.712);
  font-size: 44px;
  text-align: center;
  font-weight: bold;
  color: rgba(4, 129, 179, 0.712);
  background-color: linear-gradient(to right, #f4524d 0%, #5543ca 100%);
}

.about-us-block {
  box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
  border-radius: 10px 10px;
  transition: all 0.9s ease-out;
  color: black;
  margin: 0 0 20px 0px;
}

.about-us-block:hover {
  background-color: rgba(216, 212, 212, 0.63);
}

.about-us-img-block {
  box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
  margin: 0 0 20px 0px;
  border-radius: 10px 10px;
  transition: all 0.9s ease-out;
  color: black;
}

.about-us-img {
  width: 80%;
}

.about-us-img-block:hover {
  background-color: rgba(216, 212, 212, 0.63);
}
