.about-us-container {
  width: 100%;
  text-align: center;
}

.about-us-container h1 {
  padding: 30px 0;
  margin: 10px 0;
  color: rgba(4, 129, 179, 0.712);
  font-size: 44px;
  text-align: center;
  font-weight: bold;
  color: rgba(4, 129, 179, 0.712);
  background-color: linear-gradient(to right, #f4524d 0%, #5543ca 100%);
}

.about-us-block {
  padding: 10px;
  background-color: #fff;
  border-radius: 6px;

  box-shadow: 0 0 10px 5px rgb(221 221 221);
  transition: all 0.8s ease 0s;
  margin: 0 10px 20px auto;
}

.about-us-block p {
  color: black;
  font-weight: 500;
}

.about-us-block:hover {
  background-color: rgba(216, 212, 212, 0.63);
}

.about-us-block h3 {
  text-align: center;
  font-weight: 600;
  letter-spacing: 3px;
  font-size: 2em;
  line-height: 48px;
  color: rgba(11, 112, 245, 0.712);
}

.about-us-img-block {
  padding: 10px;
  box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
  margin: 0 auto 20px 10px;
  border-radius: 10px 10px;
  transition: all 0.9s ease-out;
  color: black;
}

.about-us-img-block p {
  color: black;
  font-weight: 500;
}

.about-us-img {
  width: 80%;
}

.about-us-img-block h3 {
  text-align: center;
  font-weight: 600;
  letter-spacing: 3px;
  font-size: 2em;
  line-height: 48px;
  color: rgba(11, 112, 245, 0.712);
}

.about-us-img-block:hover {
  background-color: rgba(216, 212, 212, 0.63);
}
