.main {
  position: relative;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
}

.content {
  width: 50%;
  border-radius: 15px;
  opacity: 0.9;
  background: rgba(7, 65, 119, 0.85);
  padding: 20px;
  margin: auto;
  text-align: center;
}

.container-main {
  position: relative;
  background: linear-gradient(to top, rgba(4, 129, 179, 0.185), rgba(180, 168, 6, 0)),
    url("../img/headerjp.jpg");
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  padding: 280px 0 220px;
  display: flex;
  flex-direction: column;
  border-radius: 0 0 10px 10px;
}

.container-main.replace {
  background-image: url("../img/headerjpTestTiny.jpg");
}

.main-container-info {
  margin-left: 30px;
  padding: 20px;
  background-color: rgba(7, 65, 119, 0.5);
  border-radius: 10px 10px;
  backdrop-filter: blur(5px);
}

.title-info {
  font-size: 30px;
  font-weight: 600;
  color: #ffc107;
  text-transform: uppercase;
  font-weight: bold;
  /* transform: translate(0px, 120%);
  opacity: 0; */
  transition: all 0.8s ease 0s;
}

/* .title-info._active {
  transform: translate(0px, 0px);
  opacity: 1;
  font-size: 30px;
  color: #ffc107;
  font-weight: bold;
} */

.fullscreen_text {
  font-size: 30px;
  line-height: 35px;
  font-weight: 500;
  /* transform: translate(0px, 120%);
  opacity: 0;
  transition: all 0.8s ease 0s; */
  margin-left: auto;
  margin-right: auto;
}

/* .fullscreen_text._active {
  transform: translate(0px, 0px);
  opacity: 1;
  transition: all 0.8s ease 0.4s;
} */

.main p {
  margin-top: 1em;
  padding: 0;
  font-size: 25px;
  color: rgb(255, 255, 255);
  padding-bottom: 25px;
}

.button-support {
  background-color: #0050fc;
  border: 1px solid #2579f7;
  border-radius: 6px;
  /* box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px 0; */
  box-shadow: rgba(0, 0, 0, 0.212) 0 -5px 0;
  box-sizing: border-box;
  color: rgb(251, 255, 0);
  cursor: pointer;
  /* font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif; */
  letter-spacing: 1px;
  font-size: 20px;
  font-weight: 600;
  outline: none;
  outline: 0;
  padding: 10px 25px;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-support:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0 3px 9px 0;
  transform: translateY(-5px);
}

.bg-gray {
  background-color: rgba(196, 196, 196, 0.411);
}

@media (max-width: 991px) {
  .content {
    width: 100%;
    border-radius: 15px;
    opacity: 0.9;
    background: rgba(7, 65, 119, 0.85);
    padding: 15px 5px;
    margin: auto;
  }
}

@media (min-width: 768px) {
  .button-support {
    padding: 10px 30px;
  }
}
