.main {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  width: 50%;
  border-radius: 15px;
  opacity: 0.9;
  background: rgba(7, 65, 119, 0.85);
  padding: 20px;
  text-align: center;
}

.container-main {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  max-height: 100vh;
  min-height: 50vh;
  border-radius: 0 0 10px 10px;
}

.slider {
  width: 100%;
}

.slideImg {
  width: 100%;
  /*min-height: 100vh;*/
  background-size: cover;
  background-position: center;
}
.slideImg1 {
  display: block;
}
.slideImg2 {
  display: none;
}
.slideImg3 {
  display: none;
}

.fade-in {
  animation: in 4s linear;
}

.fade-out {
  animation: out 4s linear;
}

@keyframes out {
  0% {
    opacity: 1;
  }
  15% {
    opacity: 0.9;
  }
  85% {
    opacity: 0.6;
  }
  100% {
    opacity: 0.4;
  }
}

@keyframes in {
  0% {
    opacity: 0.8; /*0.8*/
  }
  15% {
    opacity: 0.85; /*0.85*/
  }
  85% {
    opacity: 1; /*0.95*/
  }
  100% {
    opacity: 0.95; /*1*/
  }
}

.overlay {
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-container-info {
  margin-left: 30px;
  padding: 20px;
  background-color: rgba(7, 65, 119, 0.5);
  border-radius: 10px 10px;
  backdrop-filter: blur(5px);
}

.title-info {
  font-size: 30px;
  font-weight: 600;
  color: #ffc107;
  text-transform: uppercase;
  font-weight: bold;
  transition: all 0.8s ease 0s;
}

.fullscreen_text {
  font-size: 30px;
  line-height: 35px;
  font-weight: 500;
  margin-left: auto;
  margin-right: auto;
}

.main p {
  margin-top: 1em;
  padding: 0;
  font-size: 25px;
  color: rgb(255, 255, 255);
  padding-bottom: 25px;
}

.content .button-support {
  box-shadow: rgba(0, 0, 0, 0.212) 0 0 0;
}

.button-support:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0 3px 9px 0;
  transform: translateY(-5px);
}

@media (max-width: 991px) {
  .content {
    width: 100%;
    border-radius: 15px;
    opacity: 0.9;
    background: rgba(7, 65, 119, 0.85);
    padding: 15px 5px;
    margin: auto;
  }
}

@media (min-width: 768px) {
  .button-support {
    padding: 10px 30px;
  }
}

@media (max-width: 575px) {
  .container-main {
    min-height: 39vh;
  }

  .content {
    width: 100%;
    border-radius: 15px;
    opacity: 0.9;
    background: rgba(7, 65, 119, 0.85);
    padding: 5px;
    text-align: center;
  }

  .title-info {
    font-size: 25px;
    padding-top: 10px;
  }

  .fullscreen_text {
    margin-top: 0 !important;
    padding-bottom: 0px !important;
    line-height: 30px;
  }

  .content .button-support {
    margin: 0px auto 10px auto;
  }
}
