.donate-section h2 {
  padding: 20px 0;
  color: rgba(4, 129, 179, 0.712);
  font-size: 44px;
  text-align: center;
  font-weight: bold;
}

.get-in-touch {
  max-width: 100%;
  margin: 20px auto;
  display: inline-block;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  box-shadow: 0 0 10px 5px rgb(221 221 221);
  padding: 30px;
}

.get-in-touch input,
label,
textarea {
  display: block;
  width: 100%;
}

form {
  background: white;
  display: flex;
  flex-direction: column;
  padding: 2vw 2vw;
  border-radius: 10px;
}

form label {
  font-weight: 600;
}

form input,
form textarea {
  border: 0;
  margin: 10px 0;
  padding: 20px;
  outline: none;
  background: #dad7d7;
  border-radius: 6px;
  font-size: 16px;
}

form h3 {
  color: rgba(4, 129, 179, 0.912);
  font-weight: 700;
  margin-bottom: 30px;
  align-self: center;
}

.get-in-touch .button-support {
  margin: 20px auto 0;
  box-shadow: rgb(0 0 0 10%) 0 2px 4px 0;
}
.donate-block {
  display: block;
  padding: 30px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 0 10px 5px rgb(221 221 221);
  transition: all 0.8s ease 0s;
}

.donate-block:hover {
  background-color: rgba(216, 212, 212, 0.63);
}

.donate-block p {
  color: black;
  font-weight: 500;
  text-align: center;
}

.donate-block-title {
  color: rgba(4, 129, 179, 0.912);
  font-weight: 700;
  text-align: center;
}

.donate-block .button-support {
  background-color: rgb(251, 255, 0);
  color: #0050fc;
  border: 1px solid rgb(206, 209, 6);
  display: block;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

/* .get-in-touch h1 {
  text-transform: uppercase;
  text-align: center;
  font-weight: 500;
  letter-spacing: 3px;
  font-size: 3em;
  line-height: 48px;
  padding-bottom: 20px;
  color: rgba(4, 129, 179, 0.712);
  background-color: linear-gradient(to right, #f4524d 0%, #5543ca 100%);
   -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}

.contact-form .form-field {
  position: relative;
  margin: 32px;
}

.contact-form .input-text {
  display: block;
  width: 100%;
  height: 36px;
  border-width: 0 0 2px 0;
  border-color: rgba(4, 129, 179, 0.912);
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
}

.contact-form .input-text:focus {
  outline: none;
}

.contact-form .input-text:focus + .label,
.contact-form .input-text.not-empty + .label,
.contact-form .input-text:not(:placeholder-shown) + .label {
  transform: translateY(-24px);
} 

/* .contact-form .input-text:focus + .label,
  .contact-form .input-text.not-empty + .label {
    transform: translateY(-24px);
  } 

.contact-form .label {
  position: absolute;
  left: 20px;
  bottom: 11px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: rgba(4, 129, 179, 0.712);
  cursor: text;
  text-transform: capitalize;
  transition: transform 0.2s ease-in-out;
}

.contact-form .submit-btn {
  display: inline-block;
  background-image: linear-gradient(125deg, rgba(4, 129, 179, 0.912), #f3ef17);
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
  padding: 8px 16px;
  border: none;
  width: 200px;
  cursor: pointer;
}
*/
