@import "./app.css";
@import "./header.css";
@import "./fixes.css";
@import "./footer.css";
@import "./first-page.css";
@import "./our-mission.css";
@import "./input-form.css";
@import "./victims-block.css";
@import "./our-projects.css";
@import "./about-us.css";

body {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #555;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  color: #333;
}

._anim-show {
  transform: translate(0px, 70%);
  opacity: 0;
  transition: all 0.8s ease 0s;
}

._anim-show._active,
._active ._anim-show {
  opacity: 1;
  transform: translate(0px, 0px);
}

.bg-primary {
  background-color: rgba(47, 119, 252, 0.815) !important;
  backdrop-filter: blur(5px);
}
