@import "./app.css";
@import "./header.css";
@import "./fixes.css";
@import "./footer.css";
@import "./first-page.css";
@import "./our-mission.css";
@import "./donate-section.css";
@import "./victims-section.css";
@import "./our-projects.css";
@import "./about-us.css";
@import "./news.css";
@import "./partners.css";
@import "./documents.css";
@import "./scroll-to-top.css";
@import "./news-link.css";

body {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #555;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  color: #333;
}
.app-content {
  scroll-behavior: smooth;
}
.bg-primary {
  background-color: rgba(47, 119, 252, 0.815) !important;
  backdrop-filter: blur(5px);
}
.bg-gray {
  background-color: rgba(196, 196, 196, 0.411);
}
.bg-wheat {
  background-image: url(../img/161510-e4d972.svg);
  background-size: 400px 400px;
  background-position: 90% 100%;
  background-repeat: no-repeat;
}
.title {
  padding: 20px 0;
  /* color: rgba(4, 129, 179, 0.712); */
  color: #0a56ad;
  font-size: 44px;
  text-align: center;
  font-weight: bold;
}
.subtitle {
  color: #0a56ad;
  font-weight: 700;
  text-align: center;
}
span {
  background-color: #0a56ad;
  color: #ffd401;
  border-radius: 5px;
  padding: 3px 5px;
}
.button-support {
  background-color: #ffd401;
  color: #0a56ad;
  border: 1px solid rgb(209, 189, 6);
  border-radius: 6px;
  display: block;
  margin: 0 auto 10px auto;
  box-shadow: rgba(0, 0, 0, 0.212) 0 -5px 0;
  box-sizing: border-box;
  cursor: pointer;
  letter-spacing: 1px;
  font-size: 20px;
  font-weight: 600;
  /* outline: none;
  outline: 0; */
  /* text-align: center; */
  padding: 10px 25px;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.button-support:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0 3px 9px 0;
  transform: translateY(-5px);
}
@media (max-width: 767px) {
  .main p {
    font-size: 18px;
  }
  .main h2 {
    font-size: 30px;
  }
  .button-support {
    font-size: 18px;
    padding: 10px 15px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .main p {
    font-size: 20px;
  }
  .main h2 {
    font-size: 30px;
  }
}
@media (max-width: 575px) {
  .title {
    padding: 5px 0;
    margin: 20px auto;
  }
} ;
