.mission-div {
  width: 75%;
  margin: 0 auto;
}

.mission-div h2 {
  padding: 30px 0;
  color: rgba(4, 129, 179, 0.712);
  font-size: 44px;
  text-align: center;
  font-weight: bold;
}

.mission-div-text {
  padding: 20px;
  background-color: rgb(10, 137, 255);
  border-radius: 6px;
  box-shadow: 0 0 20px 10px rgba(4, 129, 179, 0.418);
  transition: all 0.8s ease 0s;
  text-align: center;
}

.mission-div-text:hover {
  background-color: rgba(9, 64, 245, 0.63);
}

.mission-div-text p {
  color: #ffc107;
  font-weight: 600;
}

@media (max-width: 767px) {
  .mission-div {
    width: 100%;
  }
} ;
