.mission-row {
  width: 75%;
  margin: 0 auto;
}
.mission-text {
  display: block;
  padding: 30px;
  margin-left: auto;
  position: relative;
  margin-right: auto;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 0 7px 10px rgb(221 221 221);
  transition: all 0.8s ease 0s;
  text-align: center;
  border: 2px solid #ffd401;
  z-index: 1;
}

.mission-text::before {
  content: "";
  background-image: url("../img/task.png");
  background-size: 300px 300px;
  position: absolute;
  background-repeat: no-repeat;
  top: 10px;
  right: 0;
  bottom: 0;
  left: 83%;
  opacity: 0.5;
  z-index: -1;
}

.mission-text p {
  color: black;
  font-weight: 500;
  text-align: center;
  padding-bottom: 0;
  margin-top: 16px;
}
@media (max-width: 767px) {
  .mission-row {
    width: 100%;
  }
  .mission-text p {
    margin: 0;
    padding-bottom: 0;
  }
  .mission-text::before {
    left: 65%;
  }
}
