.project-block {
  padding: 10px;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 0 10px 5px rgb(221 221 221);
  transition: all 0.8s ease 0s;
}

.project-block:hover {
  background-color: rgba(216, 212, 212, 0.63);
}

.project-block p {
  color: black;
  font-weight: 500;
}

.projects-container h1 {
  padding: 60px 0;
  color: rgba(4, 129, 179, 0.712);
  font-size: 44px;
  text-align: center;
  font-weight: bold;
  color: rgba(4, 129, 179, 0.712);
  background-color: linear-gradient(to right, #f4524d 0%, #5543ca 100%);
  /* -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}

.project-block-title {
  text-align: center;
  font-weight: 600;
  letter-spacing: 3px;
  font-size: 2em;
  line-height: 48px;
  color: rgba(11, 112, 245, 0.712);
  /* transform: translate(0px, 120%);
  opacity: 0;
  transition: all 0.8s ease 0s; */
}

/* .project-block-title._active {
  transform: translate(0px, 0px);
  opacity: 1;
  font-size: 30px;
  color: #000000;
  font-weight: bold;
} */
