.victims-video-container {
  width: 100%;
  margin: 80px auto;
  align-items: center;
}

.victims-video-container h2 {
  padding: 30px 0;
  color: rgba(4, 129, 179, 0.712);
  font-size: 44px;
  text-align: center;
  font-weight: bold;
}

.victims-video-row {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.victims-video-col {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
  /* display: flex;
  align-items: center;
  justify-content: center;
  position: relative; */
}

.victims-video-col iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* width: 100%;
  padding-bottom: 30px; */
}

.victims-feature-img {
  width: 83%;
  margin: auto;
  position: relative;
  border-radius: 6px;
  overflow: hidden;
}

.victims-text-col {
  min-width: 200px;
}

.victims-text-row-info {
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 0 10px 5px rgb(221 221 221);
  transition: all 0.8s ease 0s;
  margin: 20px auto 40px auto;
  text-align: center;
  border-radius: 6px;
  overflow: hidden;
}

.victims-text-row-info:hover {
  background-color: #fff;
  box-shadow: 0 0 10px 20px rgb(221 221 221);
}

.victims-text-row-info p {
  margin: 0 10px 0px 10px;
  padding: 40px 25px;
  font-size: 30px;
  font-weight: 600;
  color: rgb(48, 48, 48);
}

/* .small-img {
    width: 83%;
    margin: auto;
    position: relative;
    border-radius: 6px;
    overflow: hidden;
  } */

.play-btn {
  width: 60px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.video-player {
  width: 80%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.video:focus {
  outline: none;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  cursor: pointer;
}

.swiper-button-prev {
  padding-right: 20px;
}

.swiper-pagination {
  margin-top: 70px !important;
}
